<!doctype html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        
        title Game
        link(rel="stylesheet", href="/style/style.css")
    body 
        
        .form 
            h2 Throw dices 
            if(msg)
                small=msg
            form(action="/createGame", method="POST")
                label(for="name1") Firt player 
                input#player_On(type="text", name="name1")
                label(for="name2") Second player 
                input#player_Second(type="text", name="name2")
                label(for="name3") Third player
                input#player_Third(type="text", name="name3")
                button(type="submit") Play
